[Unit]
Description=Gunicorn server for vagrant

[Service]
User={{ ansible_ssh_user }}
WorkingDirectory={{ repository_path }}
Restart=on-failure
ExecStart={{ repository_path }}/.venv/bin/gunicorn \
    --bind unix:/tmp/allspice.socket \
    --workers 3 \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    allspice.wsgi:application

[Install]
WantedBy=multi-user.target
